* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100vh;
}

/* ****************** Body, head etc ****************** */
body,
a {
	font-family: Poppins, Arial, Helvetica, sans-serif;
}

header {
	background-color: #359830;
	color: #eee;
	text-align: center;
	height: 60px;
	padding-top: 5px;
	display: block;
	box-sizing: border-box;
	position: relative;
	width: 100%;
}

.container {
	height: calc(100vh - 120px);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.container img {
	height: 50%;
}

p {
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

a {
	color: #359830;
	text-decoration: none;
}
a:hover {
	color: #359830;
}
a:visited {
	color: #359830;
}

/* ****************** Table style ****************** */
#tab-tic-tac-toe {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-size: 4em;
	font-family: Sans;
	color: #444;
	background: #f8f8f8;
	width: 310px;
	height: 300px;
	text-align: center;
	vertical-align: center;
	border: 1px solid #cecece;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #ccc;
}

/*Column style*/
#tab-tic-tac-toe td {
	border-collapse: collapse;
	border-left: 5px solid #ccc;
	border-bottom: 5px solid #ccc;
}

#tab-tic-tac-toe td:first-child {
	border-left: none;
}

#tab-tic-tac-toe tr:last-child td {
	border-bottom: none;
}

/*Cells*/
#tab-tic-tac-toe td {
	cursor: pointer;
	height: 95px;
	width: 95px;
	transition: all 400ms ease;
}

#tab-tic-tac-toe td:hover {
	background: #ececec;
}

/* ****************** Restart Button ****************** */
#bnt-restart {
	display: block;
	padding: 10px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	background: #359830;
	font-size: 1.5em;
	color: #fff;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: all 400ms ease;
}

#bnt-restart:hover {
	background: #55b850;
}

#bnt-restart:active {
	background: #1e5f1b;
}

#bnt-restart:disabled {
	color: #444;
	background: #cecece;
}

footer {
	height: 60px;
}

@media (max-width: 600px) {
	.container {
		flex-direction: column;
	}
	.container img {
		height: 30%;
	}
}

@media (max-height: 620px) {
	.container img {
		display: none;
	}
}
